{{ define "main" }}
<h1>{{ .Title }}</h1>

<p>Posts from <a href="https://jacobzucker.substack.com">my Substack</a>.</p>

{{ $feed := "https://jacobzucker.substack.com/feed" }}
{{ with resources.GetRemote $feed }}
  {{ with .Err }}
    <p><em>Couldn't load posts right now. Visit <a href="https://jacobzucker.substack.com">jacobzucker.substack.com</a>.</em></p>
    {{ warnf "Substack feed fetch error: %s" . }}
  {{ else }}
    {{ $rss := .Content | transform.Unmarshal }}
    <ul class="blog-posts">
      {{ range $rss.channel.item }}
        <li>
          <span><i><time datetime="{{ .pubDate }}">{{ dateFormat "Jan 2, 2006" (time .pubDate) }}</time></i></span>
          <a href="{{ .link }}">{{ .title }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ else }}
  <p><em>Couldn't load posts right now. Visit <a href="https://jacobzucker.substack.com">jacobzucker.substack.com</a>.</em></p>
{{ end }}
{{ end }}
